- content_for(:title, 'Dashboard')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    - if !@current_company
      %div.alert{ :class => twitterized_type(:error) }
        %a.close{ "data-dismiss" => "alert" } x
        You have not set up your company.
    %h1 Dashboard
    %p= "#{current_user.firstname}, welcome to your Dashboard."
    %dl.dl-horizontal
      %dt Projects:
      %dd= @projects ? @projects.count : 0
      %dt Users:
      %dd= @current_company ? @current_company.users.count : 1
      %dt Plan:
      %dd= @subscription ? @subscription.to_s : "Free Account"
    - if @projects
      %hr
      %h2 Projects
      %table.table.table-striped
        %thead
          %tr
            %th Project Name
            %th Users
            %th Tasks
            %th 
        - @projects.each do |project|
          %tr
            %td= project.name
            %th= project.users.count
            %td= project.tasks.count
            %td
              - if !current_user.sub_account
                %a.btn{ :href => project_path(project) }
                  %i.icon-search
                  Show