%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Project Name
      %th Task Name
      %th Billable
      %th Rate
      %th 
  - @tasks.each do |p|
    %tr{ :id => p.id}
      %td= p.id
      %td= p.project.name
      %td= p.name
      %td= p.billable ? "Yes" : "No"
      %td= number_with_precision(p.rate, :precision => 2)
      - if !current_user.sub_account
        %td
          = link_to edit_task_path(p), :class => "btn" do
            %i.icon-pencil
            Edit
          = link_to task_path(p), :confirm => "Are you sure?", :method => :delete, :remote => true, :class => "btn btn-danger" do
            %i.icon-trash.icon-white
            Delete
