- content_for(:title, 'New Task')
.row
  .span2
    .area= render :partial => "shared/sidebar"
  .span9
    .area
      %h1 Create Task
      = simple_form_for(@task, :url => @task, :html => {:class => 'form-horizontal' }) do |f|
        = f.input :project_id, :required => true, :collection => @available_projects, :selected => @available_projects[0], :include_blank => false, :label => 'Project'
        = f.input :name, :required => true, :autofocus => true, :class => 'input-xlarge', :label => 'Task Name'
        = f.input :billable
        = f.input :rate, :wrapper => :prepend do
          = content_tag :span, "£", :class => "add-on"
          = f.text_field :rate
        = f.button :submit, "Create Task", :class => 'btn btn-primary'
        = link_to "Back", :back, :class => 'btn'