- content_for(:title, 'Bills')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    %h1 Bills
    %table.table.table-striped
      %thead
        %tr
          %th Reference
          %th Bill Date
          %th Due Date
          %th Value
          %th Comment
          %th Status
          %th
      - @bills.each do |bill|
        %tr{ :id => bill.id}
          %td= bill.reference_id
          %td= bill.bill_date.strftime("%e %b %y")
          %td= bill.due_date.strftime("%e %b %y")
          %td= number_with_precision(bill.value, :precision => 2)
          %td= bill.comment
          %td
            - if bill.paid
              %span.label.label-success Paid
            - elsif bill.due_date < DateTime.now
              %span.label.label-important Overdue
            - else
              %span.label.label-warning No
          %td
            =link_to bill, :confirm => "Are you sure?", :method => :delete, :remote => true, :class => "btn btn-danger" do
              %i.icon-trash.icon-white
              Delete
    = link_to new_bill_path, :class => "btn btn-primary" do
      %i.icon-plus.icon-white
      Add Bill
