- content_for(:title, 'New Bill')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    %h1 Create Bill
    = simple_form_for(@bill, :url => @bill, :html => {:class => 'form-horizontal' }) do |f|
      = f.input :reference_id, :required => true, :autofocus => true, :label => 'Reference'
      = f.input :bill_date, :required => true
      = f.input :due_date, :required => true
      = f.input :value, :placeholder => "0.00", :required => true
      = f.input :comment, :label => "Comments"
      = f.input :paid
      = f.button :submit, "Create Bill", :class => 'btn btn-primary'
      = link_to "Back", :back, :class => 'btn'
