- content_for(:title, 'Archived Projects')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span9
    .title-area
      %h1 Archived Projects
    .area#projects
      %table.table.table-striped
        %thead
          %tr
            %th ID
            %th Project Name
            %th 
        - @projects.each do |p|
          %tr{ :id => p.id }
            %td= p.id
            %td= p.name         
            %td
              = link_to project_path(p), :class => "btn" do
                %i.icon-search
                Show
              = link_to edit_project_path(p), :remote => true, :class => "btn" do
                %i.icon-pencil
                Edit
              = link_to p, :confirm => "Are you sure?", :method => :delete, :remote => true, :class => "btn btn-danger" do
                %i.icon-trash.icon-white
                Delete
      = link_to "View Unarchived Projects", projects_path, :class => "btn"