- content_for(:title, 'Edit Project')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    %h1 Edit Your Project
    = simple_form_for(@project, :url => @project, :html => {:class => 'form-horizontal' }) do |f|
      = f.input :name, :required => true, :autofocus => true, :class => 'input-xlarge', :label => 'Project Name'
      = f.input :status, :collection => @project.available_statuses, :include_blank => false
      = f.button :submit, "Update", :class => 'btn btn-primary'