- content_for(:title, 'Projects')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    %h1 Projects
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Project Name
          %th 
      - @projects.each do |p|
        %tr{ :id => p.id}
          %td= p.id
          %td= p.name
          %td
            = link_to project_path(p), :class => "btn" do
              %i.icon-search
              Show
            = link_to edit_project_path(p), :class => "btn" do
              %i.icon-pencil
              Edit
            = link_to p, :confirm => "Are you sure?", :method => :delete, :remote => true, :class => "btn btn-danger" do
              %i.icon-trash.icon-white
              Delete
    %a.btn.btn-primary{ :href => new_project_path }
      %i.icon-plus.icon-white
      Add Project
