- content_for(:title, @project.name)
.row
  .span2
    = render :partial => "shared/sidebar"
  .span9
    %h1= "#{@project.name} (#{@project.status})"
    %p
      = link_to projects_path, :class => "btn" do
        %i.icon-th-list
        View All Projects
      - if !@project.archived
        = link_to edit_project_path(@project), :class => "btn" do
          %i.icon-pencil
          Edit Project
      = link_to @project, :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger" do
        %i.icon-trash.icon-white
        Delete Project
    %h3 Tasks
    = render :partial => "tasks/tasks"
    - if !@project.archived
      = link_to "Add Task", new_task_path, :class => 'btn btn-primary'
    %hr
    %h3 Users
    - if @project.project_users.count > 0
      = render :partial => "project_users/project_users"
    - else
      %p There are no project users assigned.
    - if !@project.archived
      = link_to "Add Project User", new_project_user_path(@project), :class => 'btn btn-primary'
