.subscription
  .header
    %h2.title= plan.title.upcase
    %p.description= plan.description
  .price
    %span.currency £
    %span.value= plan.value
    %span.duration= plan.duration
  .details
    %p= "#{plan.project_count} Projects"
    %p= "#{plan.user_count} Users"
    %p Technical Support
  - if current_plan(plan)
    = link_to "Cancel Subscription", cancel_subscriptions_path, :class => 'btn btn-danger'
  - else
    %a.btn.btn-success{ :href => plan.generate_new_url, :target => "_blank" } Choose this plan
