.subscription
  .header
    %h2.title= plan.title.upcase
    %p.description= plan.description
  .price
    %span.currency £
    %span.value= plan.value
    %span.duration= plan.duration
  .details
    %p= "#{plan.project_count} Projects"
    %p= "#{plan.user_count} Users"
    %p Technical Support
    - if current_plan(plan) && !@subscription.nil? && !@user_disabled && !@project_disabled
      = link_to "Cancel Subscription", cancel_subscriptions_path, :class => "btn btn-danger"
    - elsif current_plan(plan) && !@subscription.nil?
      %a.btn.btn-danger{ :id => plan.id, :href => "#cancelCurrentModal", "data-toggle" => "modal", :target => "_blank"} Cancel Subscription
      .modal.hide.fade#cancelCurrentModal
        .modal-header
          %h3 Warning
        .modal-body
          %p As you have over the limit of users/projects for this plan, some projects will be archived and hidden until you upgrade.
        .modal-footer
          %a{ :href => "#", :class => "btn", "data-dismiss" => "modal"} Close
          = link_to "Cancel Subscription", cancel_subscriptions_path, :class => "btn btn-danger"
    - elsif !current_plan(plan) && plan.project_count >= @current_company.projects.where(:archived => false).count && plan.user_count >= @current_company.users.count 
      %a.btn.btn-success{ :id => plan.id, :href => plan.generate_new_url, :target => "_blank" } Choose this plan
    - elsif !current_plan(plan) && plan.project_count > @current_company.plan.project_count
      %a.btn.btn-success{ :id => plan.id, :href => plan.generate_new_url, :target => "_blank" } Choose this plan
    - elsif !current_plan(plan)
      %a.btn.btn-success{ :id => plan.id, :href => "#cancelModal", "data-toggle" => "modal", :target => "_blank"} Choose this plan
      .modal.hide.fade#cancelModal
        .modal-header
          %h3 Warning
        .modal-body
          %p As you have over the limit of users/projects for this plan, some projects will have to be archived before you upgrade.
        .modal-footer
          %a{ :href => "#", :class => "btn", "data-dismiss" => "modal"} Close
          = link_to "Choose this plan", cancel_subscriptions_path, :class => "btn btn-danger"
    - else
      %a.btn.btn-success{ :id => plan.id, :href => "#", :disabled => 'true' } Current Plan