- content_for(:title, 'Payments')
.row
  .span2
    = render :partial => "shared/account_sidebar"
  .span10
    - if !@current_company
      %div.alert{ :class => twitterized_type(:error) }
        %a.close{ "data-dismiss" => "alert" } x
        You have not set up your company.
    %h1 Plans & Upgrades
    - if @subscription
      %h4= "#{@subscription} Account"
      %p= "You are allowed #{@subscription.projects_limit} projects and #{@subscription.users_limit} users."
    - else
      %h4 You have not yet selected a plan.
    %hr
    .subscriptions
      %h3 Available Plans
      %br
      - @plans.each do |plan|
        = render :partial => "subscriptions/plan", :locals => { :plan => plan }
