- content_for(:title, 'Payments')
.row
  .span2
    = render :partial => "shared/account_sidebar"
  .span10
    - if !@current_company
      %div.alert{ :class => twitterized_type(:error) }
        %a.close{ "data-dismiss" => "alert" } x
        You have not set up your company.
    %h1 Plans & Upgrades
    - if @subscription
      %div.alert{ :class => twitterized_type(:alert) }
        %h2= "#{@subscription} Account"
        %p= "You are allowed #{@subscription.projects_limit} projects and #{@subscription.users_limit} users."
    - else
      %h4 You have not yet selected a plan.
    %hr
    %h1 Choose a plan:
    %hr
    .subscription
      .header
        %h2.title STARTER
        %p.description Perfect for small organisations
      .price
        %span.currency £
        %span.value 8
        %span.duration MONTHLY
      .details
        %p 2 Projects
        %p 2 Users
        %p Technical Support
      %a.btn{ :href => @starter_url, :target => "_blank" } Choose this plan
    .subscription
      .header
        %h2.title BASIC
        %p.description Perfect for small organisations
      .price
        %span.currency £
        %span.value 16
        %span.duration MONTHLY
      .details
        %p 10 Projects
        %p 15 Users
        %p Technical Support
      %a.btn{ :href => @basic_url, :target => "_blank" } Choose this plan
    .subscription
      .header
        %h2.title PROFESSIONAL
        %p.description Perfect for small organisations
      .price
        %span.currency £
        %span.value 32
        %span.duration MONTHLY
      .details
        %p 30 Projects
        %p 100 Users
        %p Technical Support
      %a.btn{ :href => @professional_url, :target => "_blank" } Choose this plan
    - if @subscription
      .well
        %p If you want to cancel your account subscription please click the following button:
        = link_to "Cancel Subscription", cancel_subscriptions_path, :class => 'btn btn-danger'
