- content_for(:title, 'New Payment Plan')
.row
  .span2
    = render :partial => "shared/account_sidebar"
  .span10
    %h1 New Payment Plan
    = form_for @subscription, :html => {:class => 'form-horizontal'} do |f|
      - if @subscription.errors.any?
        .alert-message.block-message.error
          %p= "#{pluralize(@subscription.errors.count, "problem")} with your registration:"
          .errors
            - @subscription.errors.full_messages.each do |msg|
              %p= msg
      = f.label :plan_id
      .control-group= f.select :plan_id, @subscription.available_plans.collect{ |u| [u[:name], u[:id]] }
      = f.hidden_field :stripe_token
      = f.hidden_field :last_4_digits
      - if @subscription.last_4_digits
        #change-card.clearfix
          %label Card
          .input
            %span
              Using card ending with #{@subscription.last_4_digits}
              = link_to "(change)", "#"
      #credit-card{:style => @subscription.last_4_digits ? "display:none" : "display:block"}
        #credit-card-errors{:style => "display:none"}
          #stripe-error-message.alert-message.block-message.error
        = f.label :credit_card_number
        .control-group= text_field_tag :credit_card_number, params[:credit_card_number], :class => "field", :disabled => true
        = f.label :cvv
        .control-group= text_field_tag :cvv, params[:cvv], :class => "small", :disabled => true
        = f.label :expiry_date
        .control-group= date_select "", :expiry_date, {:discard_day => true, :order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 25, :disabled => true}, {:class => "small"}
        = f.submit "Request", :class => 'btn btn-primary'