- content_for(:title, 'Edit Company')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    %h1 Edit Your Company
    = simple_form_for(@company, :url => @company, :html => {:class => 'form-horizontal' }) do |f|
      = f.input :name, :required => true, :autofocus => true, :class => 'input-xlarge', :label => 'Company Name'
      = f.input :registration_number, :class => 'input-xlarge', :label => 'Registration Number'
      = f.button :submit, "Update my company", :class => 'btn btn-primary'