- content_for(:title, 'Company')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    - if !@current_company
      %div.alert{ :class => twitterized_type(:error) }
        %a.close{ "data-dismiss" => "alert" } x
        You have not set up your company.
    %h1 Company Overview
    - if !@current_company 
      %p Click here to create your company.
      = render 'form'
    - else
      %dl.dl-horizontal
        %dt Company Name:
        %dd= @current_company.name
        %dt Registration Number:
        - if @current_company.registration_number != ""
          %dd= @current_company.registration_number
        - else
          %dd No registration number
      %p= link_to "Edit Company", edit_company_path(@current_company), :class => "btn btn-primary"
      %h2 Company Users
      - @current_company.company_users.each do |u|
        = u.firstname
        = u.lastname
      %p= link_to "Add User", new_company_user_path, :class => "btn btn-primary"