- content_for(:title, 'New Company')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    %h1 Create Your Company
    = simple_form_for(@company, :url => company_index_path(@company), :html => {:class => 'form-horizontal' }) do |f|
      = f.input :name, :required => true, :autofocus => true, :class => 'input-xlarge', :label => 'Company Name'
      = f.input :registration_number, :class => 'input-xlarge', :label => 'Registration Number'
      = f.input :image, :label => 'Company Logo'
      = f.button :submit, "Create Company", :class => 'btn btn-primary'