- content_for(:title, 'Timeslips')
.row
  .span2
    .area= render :partial => "shared/sidebar"
  .span9
    .area
      %h1 Timeslips
      .btn-group
        = link_to "Week View (Coming Soon)", "#", :class => "btn"
        = link_to "Day View (Coming Soon)", "#", :class => "btn"
      %br
      %table.table.table-striped
        - @timeslips.each do |date, timeslips|
        - @hours = 0
          %thead
            %th= date
            %th Project
            %th Task
            %th Hours
            %th Comment
            %th
          - timeslips.each do |t|
            - @hours += t.hours if t.hours != nil
            %tr
              %td= t.user
              %td= t.project
              %td= t.task.name
              %td= number_with_precision(t.hours, :precision => 2)
              %td= t.comment
              %td
                %a.btn{ :href => edit_timeslip_path(t) }
                  %i.icon-pencil
                  Edit
                %a.btn.btn-danger{ 'data-method' => :delete, 'data-confirm' => 'Are you sure?', :href => timeslip_path(t) }
                  %i.icon-trash.icon-white
                  Delete
          %tr
            %td
            %td
            %td
              %b Total Hours:
            %td
              %b= @hours
            %td
            %td
      %hr
      %a.btn.btn-primary{ :href => new_timeslip_path }
        %i.icon-plus.icon-white
        Add Timeslip