- content_for(:title, 'New Timeslip')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    %h1 Create Timeslip
    = simple_form_for(@timeslip, :url => timeslips_path(@timeslip), :html => {:class => 'form-horizontal' }) do |f|
      .control-group= f.input :date, :as => :string, :input_html => { :value => @timeslip.date.strftime("%d/%m/%Y") }
      .control-group= f.association :project, :required => true, :collection => @projects, :include_blank => false, :label => 'Project'
      .control-group= f.association :task, :required => true, :collection => @tasks, :include_blank => false, :label => 'Task'
      .control-group= f.association :user, :required => true, :collection => @users, :include_blank => false, :label => 'User'
      .control-group= f.input :comment, :autofocus => true, :label => 'Comment'
      .control-group= f.input :hours, :placeholder => '0:00', :as => :string
      = f.button :submit, "Create Timeslip", :class => 'btn btn-primary'
      = link_to "Back", :back, :class => 'btn'

:javascript
  $(function() {
    $("#timeslip_date").datepicker({format: 'dd/mm/yyyy'});
  });