- content_for(:title, 'New Company')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    %h1 Create Company User
    = simple_form_for(@company_user, :url => company_users_path(@company_user), :html => {:class => 'form-horizontal' }) do |f|
      .control-group= f.input :firstname, :required => true, :autofocus => true, :class => 'input-xlarge', :label => 'First Name'
      .control-group= f.input :lastname, :required => true, :class => 'input-xlarge', :label => 'Last Name'
      .control-group= f.input :email, :required => true, :class => 'input-xlarge'
      .control-group= f.input :password, :required => true, :class => 'input-xlarge'
      = f.button :submit, "Create Company User", :class => 'btn btn-primary'
