- content_for(:title, 'Reports')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    %h1 Reports
    %p Here you can create your time tracking reports.
    = simple_form_for @report, :url => generate_report_reports_path, :html => {:class => 'form-horizontal'} do |f|
      .control-group
        .control-label= f.label :timeframe_id
        .controls= f.select :timeframe_id, @timeframes, :include_blank => false, :label => 'Project'
      .control-group
        .control-label= f.label :project_id
        .controls= f.select :project_id, @projects.collect{ |u| [u[:name], u[:id]] }, :include_blank => false, :label => 'Project'
      .control-group
        .control-label= f.label :task_id
        .controls= f.select :task_id, @tasks.collect{ |u| [u[:name], u[:id]] }, :include_blank => false, :label => 'Project'
      .control-group
        .control-label= f.label :user_id
        .controls= f.select :user_id, @users.collect{ |u| ["#{u.to_s}", u[:id]] }, :include_blank => false, :label => 'Project'
      = f.submit "Generate Report", :class => 'btn btn-primary'