!!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title= 'TimeTracker - ' + yield(:title)
    = stylesheet_link_tag     "application"
    = javascript_include_tag  "application"
    = csrf_meta_tags
  %body{ "data-spy" => "scroll", "data-target" => ".subnav", "data-offset" => "50" }
    %div.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{ :class => "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to("TimeTracker", root_path, :class => "brand")
          %div.nav-collapse
            %ul.nav
              - if current_user
                %li= link_to "Dashboard", dashboard_index_path
                - if current_user.owns_company
                  /%li= link_to "Bills", bills_path
                  %li= link_to "Account", accounts_path
                %li= link_to "Support", support_index_path
                %li= link_to "Logout", destroy_user_session_path, :method => :delete
              - else
                %li= link_to "Home", root_path
                %li= link_to "Login", new_user_session_path
    .main-container
      #notification
        = render :partial => "shared/flash_messages", :locals => {:flash => flash}
      = yield
    %footer
      %p &copy; #{Date.today.year} TerraCoding Ltd