!!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :charset => "utf-8" }
    %title= 'TimeTracker - ' + yield(:title)
    = stylesheet_link_tag     "application"
    = javascript_include_tag  "application"
    = csrf_meta_tags
  %body{ "data-spy" => "scroll", "class" => "home-body"}
    .home
      #notification
        = render :partial => "shared/flash_messages", :locals => {:flash => flash}
      .header
        .thumbnail= image_tag("logo_large.png")
        %p Timesheet & Reporting Software
      .masthead
        - if current_user
          = link_to "Dashboard", dashboard_index_path, :class => "btn btn-primary btn-large"
        - else
          = link_to "Login", new_user_session_path, :class => "btn btn-primary btn-large"
          = link_to "Try For Free", new_user_registration_path, :class => "btn btn-primary btn-large"
        = yield
      %footer
        %p &copy; #{Date.today.year} TerraCoding Ltd